*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: raleway;
    color: white;
   /* border: 1px solid yellow; */

}
body{
    background: #121321;
}
.navbar {
    position:sticky;
    top: 12px;
    margin-top: 56px;
    margin-left: 32px;
    margin-bottom: 12px;
    width: calc(100% - 64px); /* 16px left margin + 16px right margin */
    height: 4em;
    border-radius: 10px;
    background-color: #4b25745a;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
}
.logoelements{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#logo {
    height: 3em;
    margin-bottom: 3px;
    margin-left: 24px;
}
.logotxt {
    margin-left: 1em;
    font-family: lobster;
}
.linkelements{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.link{
    margin-left: 1em;
    
}
:last-child.link{
    margin-right: 2em;
}



/* colour palette (light to dark)
#9F71C3
#924DBF
#7337A0
#4B2574
#10032A
*/
