*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: raleway;
    color: white;
   /* border: 1px solid yellowgreen;*/
    
}
body{
    background: #121321;
}
.navbar {
    position:sticky;
    top: 12px;
    margin-top: 56px;
    margin-left: 32px;
    width: calc(100% - 64px); /* 16px left margin + 16px right margin */
    height: 80px;
    border-radius: 10px;
    background-color: #4b25745a;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    border-top: 1px solid white;
}
.logoelements{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#logo {
    height: 3em;
    margin-left: 24px;
}
.logotxt {
    margin-left: 0.8em;
    font-family: lobster;
    font-size: 1.8em;
}
.linkelements{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.link{
    margin-left: 2em;
    
}
:last-child.link{
    margin-right: 2em;
}
.sec-a{
    width: 100%;
    margin-top: 124px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/*
body::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, -100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    z-index: -1;

}
body::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    right: 12px;
    bottom: -32px;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    z-index: -1;
}*/

.sec-a-h1{
    text-align: center;
    font-weight: 1000;
    font-size: 3em;
    padding: 6px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin: 0 128px;
}
.sec-a-h3{
    text-align: center;
    padding: 6px;
    line-height: 1.6em;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 400
}



/* colour palette (light to dark)
#9F71C3
#924DBF
#7337A0
#4B2574
#10032A
*/
