body,#gameplay /*,#homepage*/{
    background-color: #edcfff; /* Light purple */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.hidden {
    display: none; /* Hide elements with this class */
}

.buttons{
    display: flex;
    gap: 15px;
    padding: 0;
    margin-bottom: 15px;
}
#startButton, #endButton {
    border: none;
    background: none;
    overflow: hidden; /* Ensures the image doesn't overflow the button */
    transition: all 0.1s ease; /* Smooth transition for the hover effect */
}

#startButton:hover,
#endButton:hover {
    transform: scale(1.2); /* Scale the image to 120% on hover */
}

.game-container {
    background: linear-gradient(to bottom, #e270f6, #7c238c); /* Lighter purple */
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    border: 10px solid rgb(64, 64, 64);
    padding: 30px;
    border-radius: 18px;
}

.hole {
    height: 150px;
    background: #ffffff; /* Darker purple */
    border: 5px solid #8a63ff; /* Dark purple */
    cursor: pointer;
    border-radius: 100px;
}

.mole {
    background-size: 150px;
    background-image: url("../assets/whacktits.mole.jpg");
}

.enemy {
    background-size: 150px;
    background-image: url("../assets/whacktits.enemy.jpg");
}

@media only screen and (min-width: 600px) { /* for pc */
#img2,#img3 {
    position: fixed;
    height: 100%; /* Maintain aspect ratio */
    width: auto; /* Adjust size as needed */
}
#img2{
    left: 4px;
}
#img3{
    right: 4px;
}
}


@media only screen and (max-width: 480px) {  /* for phone */
    #img2,#img3 {
       display: none;
    }
    #whacktitlogo {
        width: 100%;
        height: auto;
    }
    .buttons{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;

    }
    #playimg, #exitimg{
        width: 100%;
        height: auto;
    }
    .game-container {
        width: 80%;
        height: auto;
        gap: auto;
        padding: auto;
    }
    .tutorial {
        width: 80%;
    }
}


.hole {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.mole {
    background-size: 50px;
    background-image: url("../assets/whacktits.mole.gif");
}

.enemy {
    background-size: 50px;
    background-image: url("../assets/whacktits.enemy.gif");
}
#gameactive, #gameinactive {
    height: 6em;
    width: auto;
}
.tutorial {
    margin: 25px;
    padding: 15px;
    background-color: #ebaaf7;
    border: 6px solid rgb(64, 64, 64);
    border-radius: 18px;
}
#overlay { position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54); /* Adjust the alpha value (last parameter) to control transparency */
    z-index: 9999;
}

.lostpopup {
    background: linear-gradient(to bottom, #f4b8ff, #c66cd5); /* Lighter purple */
    border: 10px solid rgb(64, 64, 64);
    border-radius: 18px;
    margin: auto; /* This centers the div horizontally */
    color: #5e1589;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    position: fixed; /* This keeps the div centered even when scrolling */
    top: 50%; /* Positioning at 50% from the top */
    left: 50%; /* Positioning at 50% from the left */
    transform: translate(-50%, -50%); /* Centers the div both horizontally and vertically */
}

#lostimg{
    width: 100%;
    height: auto;
}

.score{
    background-color: #5e1589;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    width: 50%;
}
