body {
    background-color: #f0e6f6; /* Light purple */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#startButton,
#endButton {
    margin-bottom: 20px;
    padding: 10px 20px; /* Adjusted padding for better button appearance */
    font-size: 16px;
    cursor: pointer;
    background-color: #6a1b9a; /* Purple */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

#startButton:hover,
#endButton:hover {
    background-color: #9c27b0; /* Light purple on hover */
}

.game-container {
    background-color: #e1bee7; /* Lighter purple */
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 10px;
    border: 2px solid #673ab7; /* Dark purple */
    padding: 20px;
    border-radius: 10px;
}

.hole {
    height: 150px;
    background: #ffffff; /* Darker purple */
    border: 5px solid #8a63ff; /* Dark purple */
    cursor: pointer;
    border-radius: 100px;
}

.mole {
    background-size: 150px;
    background-image: url("mole.jpg");
}

.enemy {
    background-size: 150px;
    background-image: url("enemy.jpg");
}


@media only screen and (max-width: 600px) {
    .game-container {
        width: 80%;
        gap: 10px;
        padding: 5%;
        grid-template-columns: repeat(3, 38%);
    }
}

.hole {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.mole {
    background-size: 50px;
    background-image: url("mole.jpg");
}

.enemy {
    background-size: 50px;
    background-image: url("enemy.jpg");
}