table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    border-radius: 15px; /* Rounded corners for the table */
    overflow: hidden; /* Hide overflowing content within rounded corners */
}
h1 {
    color: #fffdfe; /* Pink color for the text */
    font-family: "Comic Sans MS", cursive;
    font-size: 60px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
    margin-top: 5px; /* Add some top margin for spacing */
    z-index: 1;
    opacity: 0;
}

.animated {
    animation: fadeIn 4s ease forwards; /* Define the animation */
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
th, td {
    border: 1px solid #ff9eb5; /* Light pink border */
    text-align: center;
    padding: 10px; /* Increased padding for a softer look */
    color: #660033; /* Dark pink text color */
}

th {
    background-color: #ff9eb5; /* Light pink background */
}

tr:nth-child(even) {
    background-color: #ffe6f0; /* Pale pink background for even rows */
}

input[type="checkbox"] {
    transform: scale(1.5);
}

tr:hover {
    background-color: #ff6699; /* Medium pink background on hover */
}

.floating-image {
    position: fixed;
    top: 600px; /* Adjust the distance from the top */
    right: 230px; /* Adjust the distance from the right */
    z-index: 1000; /* Ensure the image stays on top */
    border-radius: 10%; /* Rounded corners for the container */
    overflow: hidden; /* Hide overflowing content within rounded corners */
}

.floating-image img {
    width: 250px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .rectangle {
    position: absolute;
    width: 4000px;
    height: 100px;
    background-color: #ff9eb5;
  }
  
  .top-left {
    top: 0;
    left: 0;
    animation: moveTopLeft 2s ease forwards;
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    animation: moveBottomRight 2s ease forwards;
  }
  
  @keyframes moveTopLeft {
    from {
      transform: translate(-100%, -100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
  
  @keyframes moveBottomRight {
    from {
      transform: translate(100%, 100%);
    }
    to {
      transform: translate(0, 0);
    }
  }
  